name: Auto Update PR Branches

on:
  push:
    branches: [main]

jobs:
  update-prs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Update PR branches
        uses: adRise/update-pr-branch@1dc4248ce8a2480d1e432fa641f243ef12f6708e # v0.7.2
        with:
          token: ${{ secrets.AUTO_APPROVE_PAT }}
          base: main
          required_approval_count: 1
