name: Auto Update PR Branches

on:
  push:
    branches: [main]

jobs:
  update-prs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Update PR branches
        uses: adRise/update-pr-branch@a51c014567e5be98445551cce9b8f5ad42dd8acf # v0.10.2
        with:
          token: ${{ secrets.AUTO_APPROVE_PAT }}
          base: main
          required_approval_count: 1
