name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # v6
      - uses: actions/setup-node@v4 # v6
        with:
          node-version: '24.12.0'
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: npm test --if-present